/* styles.css */
body {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

/* Light Theme */
.light-mode {
    background-color: #ffffff;
}

/* Dark Theme */
.dark-mode {
    background-color: #111111;
}