@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* chat container */
.chat-component {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    max-width: 1200px;
}

.chat-component .switch-rooms-list {
    max-height: auto;
    width: 25%;
    flex: 1;
    min-width: 200px;
}

.chat-component .chat-container {
    width: 50%;
    flex: 2;
    min-width: 300px;
}

/* chat window */
.chat-window {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 2px solid #d6d6d6;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.chat-window .chat-username {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
    position: relative;
    align-items: center;
    height: 60px;
}

.chat-username>span {
    color: #bbb;
}

.chat-username .username {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    margin-left: 15px;
}

/* message container */
.message-container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 108px);
}

.message-left,
.message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 300px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: white;
    box-shadow: -2px 2px 4px #dcdcdc;
    text-align: left;
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #2d2d2d;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
    text-align: right;
}

.highlighted {
    background-color: #1976d2;
}

.message-left>p>span,
.message-right>p>span {
    display: block;
    font-style: italic;
    font-size: 10px;
    margin-top: 4px;
}

.message-container .feedback {
    font-style: italic;
    font-size: 12px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.message-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48px;
}

.message-input {
    flex-grow: 1;
    font-size: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
}

.send-button {
    flex-basis: 28%;
    font-size: 16px;
    border: none;
    outline: none;
}

.send-button>span {
    margin-left: 5px;
}

.clients-total {
    margin: 20px auto;
    color: #7e7e7e;
}

/* laptop screen */
@media (max-width: 1200px) {
    .chat-component {
        width: 90%;
    }

    .chat-component .chat-container {
        align-self: center;
        max-height: auto;
        width: 60%;
    }

    .chat-component .switch-rooms-list {
        align-self: flex-start;
        width: 35%;
    }
}

/* tablet screen */
@media (max-width: 918px) {
    .chat-component {
        width: 95%;
        justify-content: space-evenly;
    }

    .chat-component .switch-rooms-list {
        width: 40%;
    }

    .chat-component .chat-container {
        max-height: auto;
        width: 55%;
    }

    .chat-window {
        height: calc(100vh - 60px);
    }

    .message-container {
        height: calc(100% - 108px);
    }
}

/* mobile screen */
@media (max-width: 488px) {
    .chat-component {
        width: 100%;
    }

    .chat-component .switch-rooms-list {
        width: 100%;
    }

    .chat-component .chat-container {
        max-height: auto;
        width: 100%;
    }

    .chat-window {
        height: calc(100vh - 60px);
    }

    .message-container {
        height: calc(100% - 108px);
    }

    .chat-window .chat-username {
        flex-direction: row;
        padding: 10px;
    }

    .chat-username .username {
        font-size: 20px;
        margin: 0px 0px 0px 10px;
    }
}