@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.signup-component {
    font-family: "Open Sans", sans-serif;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.input-fields {
    border: 1px solid black;
    width: 40%;
    padding: 40px;
    border-radius: 25px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.signup-field {
    outline: none;
    padding: 12px;
    border: none;
    background-color: beige;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
}

.signup-btn {
    margin: 25px 0px;
    background-color: #3d68f3;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}